<div class="container-fluid">
    <div class="row page_first" style="text-align: justify;">
        <div class="offset-2">
            <div class="d-none d-md-block">
                <h1  style="font-size: 14vw">REMOTRIS</h1>
                <h1  style="font-size: 5.3vw" class="textRight">ОДЕЖДА С ПРИНЦИПАМИ</h1>
            </div>
            <div class="d-md-none d-block">
                <h1  style="font-size: 14.4vw">REMOTRIS</h1>
                <h1  style="font-size: 4.5vw" class="textRight">ОДЕЖДА С ПРИНЦИПАМИ</h1>
            </div>
        </div>
        <div class="offset-2" style="margin-top: 50px">
            <div class="d-none d-md-block">
                <h1  style="font-size: 11.1vw" class="textRight">ВЫДЕЛЯЙСЯ</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Не поддавайся толпе.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Будь особенным.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Будь собой.</h1>
            </div>
            <div class="d-md-none d-block">
                <h1  style="font-size: 11.3vw" class="textRight">ВЫДЕЛЯЙСЯ</h1>
                <h1  style="font-size: 4.5vw" class="textRight">Не поддавайся толпе.</h1>
                <h1  style="font-size: 4.5vw" class="textRight">Будь особенным.</h1>
                <h1  style="font-size: 4.5vw" class="textRight">Будь собой.</h1>
            </div>
        </div>
        <div class="offset-2" style="margin-top: 50px">
            <div class="d-none d-md-block">
                <h1  style="font-size: 11.6vw" class="textRight">ПРОТЕСТУЙ</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Мода больше не управляет мнениями.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Бренды больше не решают за тебя.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Ты умнее них.</h1>
            </div>
            <div class="d-block d-md-none">
                <h1  style="font-size: 11.6vw" class="textRight">ПРОТЕСТУЙ</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Мода больше не управляет мнениями.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Бренды больше не решают за тебя.</h1>
                <h1  style="font-size: 3.5vw" class="textRight">Ты умнее них.</h1>
            </div>
        </div>
    </div>
</div>