@import url('https://fonts.googleapis.com/css?family=Roboto:700&subset=cyrillic');

html body {
    font-family: 'Roboto', sans-serif;
}

.media{
    cursor: pointer;
}

.click{
    z-index: 1;
}

.click:hover {
    cursor: pointer;
}

.top_hed {
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg_logo {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.h-100.pad_0 {
    padding: 0;
}

.hed_panel {
    background-color: white;
    height: 50px;
    -webkit-box-shadow: 0px 3px 1px 0px rgba(194, 194, 194, 1);
    -moz-box-shadow: 0px 3px 1px 0px rgba(194, 194, 194, 1);
    box-shadow: 0px 3px 1px 0px rgba(194, 194, 194, 1);
}

.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.small_head {
    display: block;
    height: 0;
    overflow: hidden;
    background-color: white;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 22;
}

.click:hover{
    background-color: #e0e0e0;
    border-radius: 40px;
    height: 40px;
    padding-top: 8px;
}

.col-md-2.bg_active{
    position: absolute;
    border-bottom: 2px solid black;
    height: 50px;
}

.head_block{
    display: block;!important;
}

.small_bd{
    font-size: 150%;
    margin-bottom: 10px;
}

.click .small_bd:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.cl:hover {
    cursor: pointer;
    background-color: #e0e0e0;
    /*text-decoration-line: underline*/
}

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    left: 13px;
    right: 13px;
    height: 3px;
    background: black;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    content: "";
}

.c-hamburger span::before {
    top: 10px;
}

.c-hamburger span::after {
    bottom: 10px;
}

.c-hamburger--htx {
    background-color: white;
}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
    background-color: white;
}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}