{% load staticfiles  %}

<div class="top_hed d-none d-md-block" style="background-image: url('{% static 'image/Header.png' %}')"></div>
<header class="sticky">
    <div class="container-fluid hed_panel">
        <div class="row h-100 text-center">
            <div class="col-1 bg_logo" style="padding: 0; background-image: url('{% static "image/logo.png" %}')"></div>
            <div class="d-block d-md-none col-11 my-auto" style="padding: 0; height: 40px">
                <div class="offset-10 col-2 h-100" style="padding: 0">
                    <button class="c-hamburger c-hamburger--htx">
                        <span>toggle menu</span>
                    </button>
                </div>
            </div>
            <div class="d-none d-md-block col-md-2 my-auto click" onclick="window.location = '/'">Главная</div>
            <div class="d-none d-md-block col-md-2 my-auto click" onclick="window.location = 't_shirt'">Футболки</div>
            <div class="d-none d-md-block col-md-2 my-auto click" onclick="window.location = 'pullover'">Свитшоты</div>
            <div class="d-none d-md-block col-md-2 my-auto click" onclick="window.location = 'hoodie'">Худи</div>
            <div class="d-none d-md-block col-md-2 bg_active"></div>
            <div class="d-none d-md-block col-3 h-100">
                <div class="row h-100">
                    <div class="offset-6 col-3 pad_0 bg_logo media" style="background-image: url('{% static "image/inst.svg" %}')"></div>
                    <div class="col-3 pad_0 bg_logo media" style="background-image: url('{% static "image/Vk.svg" %}')"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="head_block" class="d-md-none container-fluid hed_panel small_head">
        <div class="row cl">
            <div class="col-12 small_bd" onclick="window.location = '/'">Главная</div>
        </div>
        <div class="row cl">
            <div class="col-12 small_bd" onclick="window.location = 't_shirt'">Футболки</div>
        </div>
        <div class="row cl">
            <div class="col-12 small_bd" onclick="window.location = 'pullover'">Свитшоты</div>
        </div>
        <div class="row cl">
            <div class="col-12 small_bd" onclick="window.location = 'hoodie'">Худи</div>
        </div>
    </div>
</header>