{% load staticfiles %}
<div class="container-fluid page_first">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for ch in list %}
                <div onclick="window.open('{{ ch.adress }}')" class="col-10 offset-1 col-lg-3 offset-lg-2 card_clotch" style="background-image: url('{{ ch.photo.url }}')">
                    <div class="black"></div>
                    <div class="buy_btn" align="center"><h4>КУПИТЬ</h4></div>
                    <div class="price" align="center"><h4>{{ ch.price }} руб</h4></div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>